@page
@model RobertHeijn_Web_App.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/main_banner.png" alt="RobertHeijn Banner"/>
</div>