.rhs-inventory-hero {
    background-image: url("../../images/main_banner.png");
    background-size: cover;
    height: 260px;
    width: 100%;
}

.rhs-inventory-title {
    position: relative;
    top: 74.28571px;
}

.rhs-inventory-filters {
    background-color: #00A69C;
    height: 65px;
}

.rhs-inventory-filter {
    -webkit-appearance: none;
    background-color: transparent;
    border-color: #00d9cc;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    min-width: 140px;
    outline-color: #83D01B;
    padding: 1.5rem 0.5rem 0;
}

.rhs-inventory-filter option {
    background-color: #00A69C;
}

.rhs-inventory-label {
    display: inline-block;
    position: relative;
    z-index: 0;
}

.rhs-inventory-label::before {
    color: rgba(255, 255, 255, 0.5);
    content: attr(data-title);
    font-size: 0.65rem;
    margin-left: 0.5rem;
    margin-top: 0.65rem;
    position: absolute;
    text-transform: uppercase;
    z-index: 1;
}

.rhs-inventory-label::after {
    background-image: url("../../images/arrow-down.png");
    content: '';
    height: 7px;
    position: absolute;
    right: 1.5rem;
    top: 2.5rem;
    width: 10px;
    z-index: 1;
}

.rhs-inventory-send {
    background-color: #83D01B;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    margin-top: -1.5rem;
    transition: all 0.35s;
}

.rhs-inventory-send:hover {
    background-color: #4a760f;
    transition: all 0.35s;
}

.rhs-inventory-items {
    margin-top: 1rem;
}

.rhs-inventory-item {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 30%;
    display: inline-block;
    float: none !important;
}

@media screen and (max-width: 1024px) {
    .rhs-inventory-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .rhs-inventory-item {
        width: 100%;
    }
}

.rhs-inventory-thumbnail {
    max-width: 270px;
    width: 100%;
}

.rhs-inventory-button {
    background-color: #83D01B;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
}

.rhs-inventory-button.is-disabled {
    opacity: .5;
    pointer-events: none;
}

.rhs-inventory-button:hover {
    background-color: #4a760f;
    transition: all 0.35s;
}

.rhs-inventory-name {
    font-size: 1rem;
    font-weight: 300;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.rhs-inventory-price {
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}

.rhs-inventory-price::before {
    content: '€';
}
