.rhs-pager-wrapper {
    padding-top: 1rem;
    text-align: center;
}

.rhs-pager-item {
    margin: 0 5vw;
}

.rhs-pager-item.is-disabled {
    opacity: .5;
    pointer-events: none;
}

.rhs-pager-item--navigable {
    cursor: pointer;
    display: inline-block;
}

.rhs-pager-item--navigable:hover {
    color: #83D01B;
}

@media screen and (max-width: 1280px) {
    .rhs-pager-item {
        font-size: 0.85rem;
    }
}

@media screen and (max-width: 1024px) {
    .rhs-pager-item {
        margin: 0 2.5vw;
    }
}
