@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RobertHeijn_Web_App.Areas.Identity.Pages.Account.RegistrationConfirmation

@{
    ViewData["Title"] = "Personal Info Confirmation";
}


<h2>@ViewData["Title"]</h2>
<div>
    <p>
        All your personal information has been successfully saved. Please <a asp-page="./Login">click here to log in</a>
    </p>
</div>